body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tb-header, .tb-footer{
    background: #f26829;
    height: auto;
    display: flex;
    justify-content: space-between;
}



img{
    max-width: 300px;
    
}

mat-icon{
    color: white;
    font-size: 50px;
}

.insta-link{
    max-height: 50px;
    padding: 0 0;
    
}

h4{
    font-size: 16px;
}

.footer-text{
    width:550px;
    white-space: pre-line;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .bild-logo{
        display: none;
    }
    .footer-text{
        text-align: left;
        width: 300px;
    }
}