<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <mat-toolbar class="tb-header">

    <img  src="../assets/LogoBild.png" class="bild-logo">
  
    <div>
      
    <a href="https://www.instagram.com/morarbemrp.bild/">
      <img  src="../assets/outline_instagram_white_24dp.png" class="insta-link">
    </a>
    <a href="https://www.facebook.com/morarbemrp.BILD" class="face-link">
      <mat-icon class="icon">facebook</mat-icon>
    </a>

    </div>
  
  
    <img  src="../assets/LogoMorarBem.png" class="mbr-logo">
  
  </mat-toolbar>

  <mat-toolbar class="tb-footer">

    <img  src="../assets/LogoBild.png" class="bild-logo">
  
    <p>
      Julio César Botelho 
      <br>
      • Gerente de Vendas 
      <br>
      • CRECI 163446-F 16 99234-8282 
      <br>
      • Av. Prof. João Fiúsa, 2200 
      <br>
      • Jd. Canadá  Ribeirão Preto/SP 
      <br>
      • julio.cesar@gerenciabild.com.br 
    </p>
  
    <img  src="../assets/LogoMorarBem.png">
  
  </mat-toolbar>
</body>
</html>