<mat-toolbar class="header">

  <img  src="../assets/LogoBild.png" style="margin-right: auto; max-width: 300px">

  <a href="https://www.facebook.com/morarbemrp.BILD">
    <mat-icon style="color: white; font-size: 50px;">facebook</mat-icon>
  </a>

  <a href="https://www.instagram.com/morarbemrp.bild/">
    <div><img  src="../assets/outline_instagram_white_24dp.png" style="margin-left: auto; padding-left: 20px; max-height: 50px; "></div>
  </a>

  <img  src="../assets/LogoMorarBem.png" style="margin-left: auto; max-width: 300px;">
  
</mat-toolbar>
